<% include inc/top.ejs %>
<div class="nycg-main nycg-middle nycg-emphasis">
    <h1><span><% if (typeof pageHeader !== 'undefined') { %><%= pageHeader %><% } %></span></h1>
</div>
<%
    if (user) {
%>
<h3 class="nycg-dark nycg-edit-action">
    <a href="/artist-detail-edit">
        <span>Edit Profile <i class="ss-icon">edit</i></span>
    </a>
</h3>
<div class="nycg-main nycg-bottom">
    <article class="nycg-layout nycg-layout-50">
        <div class="nycg-col nycg-col-1">
            <% if (user.bio != "") { %>
            <%- user.bio %>
            <% } else { %>
            <h3>No bio yet :( </h3>
            <% } %>
        </div>
        <aside class="nycg-col nycg-col-2">
            <figure><img src="<%= user.pic_cdn %>" alt="<%= user.displayName %>" /></figure>
            <% if (user.link != "") { %>
            <h2><span>Website / Portfolio</span></h2>
            <a href="<%= user.link %>" class="nycg-external" target="_blank"><%= user.link %></a>
            <% } %>
        </aside>
    </article>
    <article class="nycg-layout nycg-layout-25 nycg-gallery">
        <h2><span>Featured Works</span></h2>
        <h3 class="nycg-dark">
            <a href="/artist-detail-image-add">
                <span>Upload New <i class="ss-icon">upload</i></span>
            </a>
        </h3>
        <% include inc/list-art-edit.ejs %>
    </article>
<%
    } else {
%>
    <h1>No profile found.</h1>
<%
    }
%>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>