<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"  xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>NYCG Recent Call to Artists</title>
		<description>Recent call to artists listed on NYCG.</description>
		<link>http://www.nyc.gallery/events</link>
		<image>
			<title>NYCG Recent Call to Artists</title>
			<url>http://nyc.gallery/images/logo-fb.png</url>
			<link>http://www.nyc.gallery/events</link>
		</image>
<% for(var i=0; i < items.length; i++) {%>
		<item>
			<title>
			<![CDATA[
				<%= items[i].title %>
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/events
			]]>
			</link>
			<pubDate><%=: items[i].date | toDate %></pubDate>
			<description>
			<![CDATA[
				"<%- items[i].title %>" | <%- items[i].venueName %> | Deadline: <%= items[i].deadline %>
			]]>
			</description>
			<category>Arts/Visual_Arts/Events</category>
		</item>
<% } %>
	</channel>
</rss>