<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"  xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>NYCG Venues and Organizations</title>
		<description>A directory of Art venues and organizations.</description>
		<link>http://www.nyc.gallery/venues</link>
		<image>
			<title>NYCG Venues and Organizations</title>
			<url>http://nyc.gallery/images/logo-fb.png</url>
			<link>http://www.nyc.gallery/venues</link>
		</image>
<% for(var i=0; i < items.length; i++) {%>
		<item>
			<media:thumbnail url="<%= items[i].pic_thumb %>"/>
			<title>
			<![CDATA[
				<%- items[i].displayName %>
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/profile/<%= items[i]._id %>
			]]>
			</link>
			<guid>
			<![CDATA[
				http://www.nyc.gallery/profile/<%= items[i]._id %>
			]]>
			</guid>
			<pubDate><%=: items[i].date | toDate %></pubDate>
			<description>
			<![CDATA[
				<%-: items[i].bio | sanitizeTruncate:100 %>
			]]>
			</description>
			<category>Arts/Visual_Arts/Galleries</category>
		</item>
<% } %>
	</channel>
</rss>