<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"  xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>NYCG Recent Events</title>
		<description>Recent events listed on NYCG.</description>
		<link>http://www.nyc.gallery/events</link>
		<image>
			<title>NYCG Recent Events</title>
			<url>http://nyc.gallery/images/logo-fb.png</url>
			<link>http://www.nyc.gallery/events</link>
		</image>
<% for(var i=0; i < items.length; i++) {%>
		<item>
			<media:thumbnail url="<%= items[i].pic_thumb %>"/>
			<title>
			<![CDATA[
				<%- items[i].title %>
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/event-detail/<%= items[i]._id %>
			]]>
			</link>
			<guid>
			<![CDATA[
				http://www.nyc.gallery/event-detail/<%= items[i]._id %>
			]]>
			</guid>
			<pubDate><%=: items[i].date | toDate %></pubDate>
			<description>
			<![CDATA[
				"<%- items[i].title %>" | <%- items[i].venueName %> | <%= items[i].dateFrom %> - <%= items[i].dateTo %>
			]]>
			</description>
			<category>Arts/Visual_Arts/Events</category>
		</item>
<% } %>
	</channel>
</rss>