<% if (typeof artists !== 'undefined' && artists != false) { %>
    <% for(var i=0; i < artists.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>" data-uid="<%= artists[i]._id %>">
    <a href="/profile/<%= artists[i].username %>">
        <figure>
            <div>
                <img src="<%= artists[i].pic_thumb %>" alt="<%= artists[i].displayName %>" />
                <div class="nycg-overlay">View Artist</div>
            </div>
            <figcaption>
                <h4><%= artists[i].displayName %></h4>
            </figcaption>
        </figure>
    </a>
</section>
    <% } %>
<% } %>