<% if (typeof art !== 'undefined' && art != false) { %>
<h2><span>Featured Works</span></h2>
    <% for(var i=0; i < art.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>" data-uid="<%= art[i]._id %>">
    <a href="<%= art[i].pic_cdn %>">
        <figure>
            <div>
                <img src="<%= art[i].pic_thumb %>" alt="<%= art[i].title %>" />
            </div>
            <figcaption>
                <header class="entry-meta"><h2><%= art[i].title %></h2></header>
                <% if (art[i].medium != '') { %><div class="entry-meta"><%= art[i].medium %></div><% } %>
            </figcaption>
        </figure>
    </a>
</section>
    <% } %>
<a href="#" class="nycg-btn nycg-btn-lg">More<br/><i class="ss-icon">navigatedown</i></a>
<% } %>