<% if (typeof art !== 'undefined' && art != false) { %>
    <% for(var i=0; i < art.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>" data-uid="<%= art[i]._id %>">
    <figure>
        <div>
            <img src="<%= art[i].pic_thumb %>" alt="<%= art[i].title %>" />
            <a href="/artist-detail-image-edit/<%= art[i]._id %>" class="nycg-btn-xsm nycg-btn-img-edit"><i class="ss-icon">edit</i></a>
            <a href="/artist-detail-image-delete/<%= art[i]._id %>" class="nycg-btn-xsm nycg-btn-img-delete"><i class="ss-icon">delete</i></a>
        </div>
        <figcaption>
            <header class="entry-meta"><h2><%= art[i].title %></h2></header>
            <% if (art[i].medium != '') { %><div class="entry-meta"><%= art[i].medium %></div><% } %>
        </figcaption>
    </figure>
</section>
    <% } %>
<a href="#" class="nycg-btn nycg-btn-lg">More<br/><i class="ss-icon">navigatedown</i></a>
<% } %>