<% if (typeof photo !== 'undefined' && photo != false) { %>
    <% for(var i=0; i < photo.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>">
    <figure>
        <div>
            <img src="<%= photo[i].pic_thumb %>" alt="<%= photo[i].desc %>" />
            <a href="/venue-detail-image-edit/<%= photo[i]._id %>" class="nycg-btn-xsm nycg-btn-img-edit"><i class="ss-icon">edit</i></a>
            <a href="/venue-detail-image-delete/<%= photo[i]._id %>" class="nycg-btn-xsm nycg-btn-img-delete"><i class="ss-icon">delete</i></a>
        </div>
        <figcaption>
            <header class="entry-meta"><h2><%= photo[i].desc %></h2></header>
        </figcaption>
    </figure>
</section>
    <% } %>
<a href="#" class="nycg-btn nycg-btn-lg">More<br/><i class="ss-icon">navigatedown</i></a>
<% } %>