<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title><%= pageTitle %></title>
</head>
<body id="<%= section %>">
<% if (msgErr.length > 0) { %>
    <div class="msg msg-err"><%= msgErr %></div>
<% } %>
<% if (msgSuccess.length > 0) { %>
    <div class="msg msg-success"><%= msgSuccess %></div>
<% } %>
    <header><h1><%= pageTitle %></h1></header>
    <nav><a href="/">photos</a> | <a href="/upload">upload</a></nav>