<!DOCTYPE html>
<% if (section == 'photos') { %>
<html lang="en">
<% } else { %>
<html lang="en">
<% } %>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= pageTitle %></title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body id="<%= section %>">
<% if (typeof msgErr !== 'undefined') { %>
	<div class="alert alert-danger"><%= msgErr %></div>
<% } %>
<% if (typeof msgSuccess !== 'undefined') { %>
	<div class="alert alert-success"><%= msgSuccess %></div>
<% } %>
	<!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">photos</a>
        <a href="/upload" class="navbar-brand">upload</a>
      </div>
    </div>
  </div>
  <div class="container theme-showcase container-fluid" role="main">
  	<div class="jumbotron">
      <h1><%= pageTitle %></h1>
      <% if (typeof description !== 'undefined') { %>
			<p><%= description %></p>
			<% } %>
    </div>