<% if (typeof artEvents !== 'undefined' && artEvents != false) { %>
<h2><span>Current Events</span></h2>
    <% for(var i=0; i < artEvents.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>">
    <a href="/event-detail/<%= artEvents[i]._id %>">
        <figure>
            <div>
                <img src="<%= artEvents[i].pic_thumb %>" alt="<%= artEvents[i].title %>" />
                <div class="nycg-overlay">View<br/>Event</div>
            </div>
            <figcaption>
                <h4><%= artEvents[i].title %></h4>
                <p><strong>Until <time><%= artEvents[i].dateTo %></time> | <%= artEvents[i].venueName %></strong></p>
            </figcaption>
        </figure>
    </a>
</section>
    <% } %>
<% } %>