<% if (typeof artEvent !== 'undefined' && artEvent != false) { %>
    <% for(var i=0; i < artEvent.length; i++) {%>
<section class="nycg-col nycg-col-<%= i + 1 %>">
    <figure>
        <div>
            <img src="<%= artEvent[i].pic_thumb %>" alt="<%= artEvent[i].title %>" />
            <a href="/venue-detail-event-edit/<%= artEvent[i]._id %>" class="nycg-btn-xsm nycg-btn-img-edit"><i class="ss-icon">edit</i></a>
            <a href="/venue-detail-event-delete/<%= artEvent[i]._id %>" class="nycg-btn-xsm nycg-btn-img-delete"><i class="ss-icon">delete</i></a>
        </div>
        <figcaption>
            <h4><%= artEvent[i].title %></h4>
            <p><strong><time><%= artEvent[i].dateFrom %></time> - <time><%= artEvent[i].dateTo %></time> | <%= artEvent[i].venueName %></strong></p>
        </figcaption>
    </figure>
</section>
    <% } %>
<% } %>